<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="w-full bottom-0 left-0 fixed font-[gilroy] px-5 py-3"> 
        <!-- <h2 class="text-xl">footer</h2> -->
    </footer>
</body>
</html>